<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>enviarVerbos</servlet-name>
        <servlet-class>modelo.enviarVerbos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviarAnimales</servlet-name>
        <servlet-class>modelo.enviarAnimales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviarPartesCuerpo</servlet-name>
        <servlet-class>modelo.enviarPartesCuerpo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCalificacion</servlet-name>
        <servlet-class>modelo.ProcesarCalificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>modelo.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>modelo.registrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>modelo.cerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enviarVerbos</servlet-name>
        <url-pattern>/enviarVerbos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviarAnimales</servlet-name>
        <url-pattern>/enviarAnimales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviarPartesCuerpo</servlet-name>
        <url-pattern>/enviarPartesCuerpo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCalificacion</servlet-name>
        <url-pattern>/ProcesarCalificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>VISTAS/index.html</welcome-file>
    </welcome-file-list>
</web-app>
