/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/05/2018, 10:43:10 AM
    Author     : LALO
*/

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(158, 172, 221);
    background-size: cover;
    color: white;
    font-family: "Tahoma", "Geneva", sans-serif;
}
#menu{
    margin: 0%;
    padding: 0%;
    margin-top: 0.5%;
}
button{
    color: white;
    background-color: rgb(234, 183, 61);
    font-size: 120%;
    vertical-align: top;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
}
h2{
    display: inline-block;
    margin: 0%;
    font-size: 280%;
    margin-left: 3%;
    background-color: rgb(234, 183, 61);
    border-radius: 15px;
}

#calificar{
   display: inline-block;
   margin: 0%;
   width: 8%;
   font-size: 150%;
   margin-left: 37%;
   border-radius: 10px;
}
#intentar,#btnlistaVerbos{
   display: inline-block;
   margin: 0%;
   width: 12%;
   font-size: 150%;
   border-radius: 10px;
}


.lista{
    
    width: 65%;
    border: solid 5px;
    border-radius: 15px;
    margin-left: 2%;
    margin-top:1.5%;
    float: left ;
   
}
.respuestas{
     width: 20%;
    border: solid 5px;
    border-radius: 15px;
    margin-left: 4%;
    margin-top:1.5%;
   float: left ;
    
}



div div{
    margin-top: 1%; 
    
}


.respuestas p{
    width: 40%;
    margin-left: 25%;
    padding: 2%;
    float: left;
    margin-bottom: 4%;
    margin-top: 3%;
}
.respuestas p:hover{
    border: solid rgb(179, 112, 218) 5px;
}
p{
    margin: 0%;
    display: inline-block;
    text-align: center;
    border:solid;
    border-radius: 5px;
    width: 20%;
    margin-left: 2%; 
    margin-bottom: 1%;
    padding: 0.5%;
    font-size: 142%;
  
    font-weight: bold; 
}
.tiempos p{
    border:none;
    font-size: 145%;
    font-weight: bold; 
}

/*Ventana modal de calificacion*/
.modal{
			position: fixed;
			border-radius: 15px;
			top:0%;
			
			margin-left: 25%;
			margin-top: 10%;
			width: 40%;
			height: 50%;

			
			display: none;
			background: rgba(172, 152, 211,0.9);
		}
		button{
			margin-left: 40%;
		}
		img.imgcalificacion{
			width: 20%;
		}
		p.rescalificacion{
			margin-left: 10%;
			display: inline;
			font-size: 350%;
			vertical-align: top;
		}
		#aciertos{
			border-radius: 15px;
			width: 90%;
			margin-top: 10%;
			margin-left: 5%;
			background-color: orange;
		}
		#errores{
			border-radius: 15px;
			width: 90%;
			margin-top: 10%;
			margin-left: 5%;
			background-color: red;
		}
                .modal div p{
                    border: none;
                }

